# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
.terraform.lock.hcl

# Environment / secrets
.env
*.pem
*.key

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store
